.mindestpreis {
  margin: 30px 0 30px 0;
}

.preis_setzen {
  margin-top: 30px;
}
.preis_setzen__label {
}
.preis_setzen__button {
  background: white;
  border: 1px solid black;
  margin: 0 10px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;

  transition: color 0.4s, background 0.4s;
}
.preis_setzen__button:hover {
  background: black;
  color: white;
}
