header {
  background: white;
  height: 60px;
  border-bottom: 1px solid grey;
  display: flex;
}
header a.logo {
  height: 100%;
  padding: 5px 10px;
  display: block;
}
header a.logo img {
  height: 100%;
  display: block;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
header nav a {
  color: RGBA(81, 86, 84, 1.00);
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
header nav a.active {
  color: black;
  border-bottom-color: black;
}
/* header nav a:after {
  content: "";
  background: red;
  height: 10px;
  width: 10px;
}
header nav a.fertig {
} */

main {
  padding-top: 30px;
}

html,
body,
#root,
.layout {
  height: 100%;
}
.layout {
  position: relative;
  width: 100%;
  min-height: 100%;
}
img.logo_mit_schrift {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  z-index: -1;

  /* border: 1px solid red; */
}
