.speech {
  position: relative;
  /* background: RGBA(213, 213, 213, 1.00); */
  background: RGBA(245, 245, 245, 1);
  padding: 5px 8px;
  border-radius: 5px;

  color: rgba(0, 0, 0, 0.8);

  margin: 10px 20px 40px 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.speech span {
  font-weight: bold;
  display: block;
}
.speech:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: RGBA(245, 245, 245, 1) transparent;
  display: block;
  width: 0;
}
